*{
    margin: 0;
    padding: 0;
    font-family: 'Pristina';
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(230, 230, 230, 0.7), rgba(185, 65, 65, 0.7)), url("images/mlogo.png");
    background-position: center;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
.navbar{
    height: 12%;
    background-color: white;
    display: flex;
    align-items: center;
}
.logo{
    width: 70px;
    padding-left: 10px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: center;
}
.title{
    font-family: Pristina;
    font-size: 50px;
    text-decoration: none;
    color:darkred;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li :hover{
    color: rgb(255, 225, 55);
}
nav ul li a{
    text-decoration: none;
    background-size: auto;
    color: darkred;
    font-family: Cambria;
    font-size: 18px;
}
section{
    margin-left: 5%;
    margin-bottom: 5%;
}
section.intro{
    margin-left: 0%;
}
.intro{
    color: white;
    min-height: 600px;
    background-image: linear-gradient(0deg, rgba(219,84,90,0.55), rgba(219,84,90,0.55)), url("images/mmhsi.jpg");
    background-size: cover 600px;
    background-position: center;

}
h1{
    padding-top: 80px;
    text-align: center;
    text-shadow: 1px;
    font-family: sans-serif;
    font-size: 80px;
}
.sec{
    padding: 0;
    font-family: Pristina;
    font-size: 30px;
}
.intro p{
    font-family: Pristina;
    font-size: 25px;
    text-align: center;
}
h6{
    font-family: Pristina;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
div.motto{
    border: 1px solid;
    background-color: white;
    margin-left: 15%;
    margin-right: 20%;
    padding: 3px;
}
.motto img{
    width: 50px;
    margin-left: 45%;
    
}
div.enrollment img{
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.9;
}
.homenav{
    height: 200px;
    width: 270px;
    margin: 8px;
    display: inline-table;
    border-radius: 5px;
    text-align: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: drop-shadow(3px);
}
.homenav :hover{
    opacity: 100%;
    zoom: 110%;
    animation: linear;
}
.homenav a{
    text-decoration: none;
    font-family: Cambria;
    color: red;
}
.homenav p{
    color: darkred;
    font-size: 14px;
    opacity: 0;
}
.homenav1{
    background-image: url(images/mmhsi.jpg);
}
.homenav2{
    background-image: url(images/Achievements.png);
}
.homenav3{
    background-image: url(images/mlogo.png);
}
.homenav4{
    background-image: url(images/shistory.jpg)
}
.mlogo{
    height: 15%;
    width: 15%;
    padding-left: 15%;
}
section.miviph{
    align-items: center;
    margin-top: -120px;
    margin-left: 22%;
    margin-right: 22%;
}
div.miviph{
    font-family: Times New Roman;
    margin: 5px;
    height: 220px;
    width: 220px;
    text-align: center;
    padding: 5px;
    border-radius: 3px; 
    background-color: rgb(255, 229, 80);
    display: inline-table;
}
div.miviph.p{
    font-family: Constantia;
    font-size: larger;

}
h5{
    color: white;
    font-family: Pristina;
    font-size: 20px  
}
.footerlogo{
    width: 100px;
    margin-top: 5px;
    align-items: center;
}
.contact{
    width: 30px;
    margin: 5px;
    align-items: center;
    vertical-align: middle;
}
h4{
    color: white;
    font-family: Pristina;
    font-size: 20px  
}
footer{
    height: 270px;
    background-color: darkred;
}
footer ul li{
    border-radius: 2px;
}
footer ul li :hover{
    color: gold;
}
footer ul li a{
    font-size: 13px;
    color: white;
}